{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Control Panel</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css" rel="stylesheet" />
    <style>
      @media (max-width: 768px) {
          .elem-big {
              display: none;
          }
      }

      @media (min-width: 769px) {
          .elem-small {
              display: none;
          }
      }

      @media (min-width: 1200px) {
        body {
          background-image: url('{% static "image.jpg" %}');
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
      
      @media (max-width: 1200px) {
        body {
          background-image: url('{% static "image.jpg" %}');
          background-size: fill;
          background-repeat: no-repeat;
        }
      }
  </style>
 
  </head>
  <body>
    <div class="h-100 w-100" style="background-color: #7952b3;">
      <nav class="navbar container navbar-dark navbar-expand-lg shadow-0" style="background-color: #7952b3; color: white;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">LOGO</a>
          <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link {{ status }}" href="{% url 'topics' %}">Topics</a>
              </li>
              &nbsp;&nbsp;
              <li class="nav-item">
                <a class="btn btn-danger" href="#">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="container mt-4">
      {% block content %}
        <div class="card p-5 mb-4">
          <div class="d-flex justify-content-between align-items-center">
          <h1 class="elem-big">{{ title }}</h1>
          <h5 class="elem-small">{{ title }}</h5>
          {% if addr %}
          {% if self %}
            <a href="{% url addr.0 pk=self.id %}" class="btn btn-success elem-big" style="width: 150px;">{{ addr.1 }}</a>
            <a href="{% url addr.0 pk=self.id %}" class="btn btn-success elem-small w-100">+</a>
          {% else %}
            <a href="{% url addr.0 %}" class="btn btn-success elem-big" style="width: 150px;">{{ addr.1 }}</a>
            <a href="{% url addr.0 %}" class="btn btn-success elem-small" style="width: 100px;">+</a>
          {% endif %}
        {% endif %}
      </div>  
          <div class="table-responsive">
            <table class="{{table}}">
              <thead>
                <tr>
                  {% for head in header %}
                    <th scope="col" class="{{ head.1 }}">{{ head.0 }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for object in olist %}
                  <tr>
                    <td>
                      {{ object.user }}{{ object.subject }}{{ object.0 }}
                      &nbsp;
                      <br class="elem-small">
                      {% if svg %}
                      {% for i in svg %}
                        <a {% if i.1 %} href="{% url i.1 pk=object.id %}" {% endif %} {{i.2}} data-mdb-target=#{{object.slug}} >
                          <img src="{% static i.0 %}" alt="">
                        </a>
                        &nbsp;
                        <div class="modal fade" id={{object.slug}} tabindex="-1" aria-labelledby={{object.slug}}Label aria-hidden="true">
                          <form method="post" action="{% url delete pk=object.id %}">
                            {% csrf_token %}
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">Are you sure you want to delete this item? This action cannot be undone</div>
                              <div class="modal-footer">
                                <button type="submit" class="btn btn-danger elem-big" style="width: 48%;">Delete</button>
                                <button type="button" class="btn btn-secondary elem-big" style="width: 48%;" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger elem-small" style="width: 100%;">Delete</button>
                                <button type="button" class="btn btn-secondary elem-small" style="width: 100%;" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                          </form>
                        </div>
                      {% endfor %}                      
                      {% endif %}
                    </td>
                    {% if object.0 %}
                    <td class="text-end">
                      <a href="{% url link user=tuser.id topic=object.0.id %}">{{ object.1 }}</a>
                    </td>
                    {% else %}
                    <td class="text-end">
                      <a href="{% url link pk=object.id %}">{{object.num_questions.count}}{{object.num_solutions.count}}</a>
                    </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>        
      {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"></script>
  </body>
</html>
