{% extends "base.html" %}
{% load static %}

      {% block content %}
        <div class="card p-5 mb-4">
          <div class="d-flex justify-content-between align-items-center">
          <h1 class="elem-big">{{ title }}</h1>
          <h5 class="elem-small">{{ title }}</h5>
          {% if add %}
          {% if self %}
            <a href="{% url add.0 pk=self.id %}" class="btn btn-success elem-big" style="width: 150px;">{{ add.1 }}</a>
            <a href="{% url add.0 pk=self.id %}" class="btn btn-success elem-small w-100">+</a>
          {% else %}
            <a href="{% url add.0 %}" class="btn btn-success elem-big" style="width: 150px;">{{ add.1 }}</a>
            <a href="{% url add.0 %}" class="btn btn-success elem-small" style="width: 100px;">+</a>
          {% endif %}
        {% endif %}
      </div>  
          <div class="table-responsive">
            <table class="table table-hover align-middle mb-0 bg-white">
              <thead class="bg-light">
                <tr>
                  {% for head in header %}
                    <th scope="col" class="{{ head.1 }}">{{ head.0 }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for object in olist %}
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                    <div>
                    <span class="fw-bold mb-1">{{ object.user }}{{ object.subject }}
                      &nbsp;
                      {% if svg %}
                            {% for i in svg %}
                              <a {% if i.link %} href="{% url i.link pk=object.id %}" {% endif %} {{i.params}} data-mdb-target=#{{object.slug}} >
                                <img src="{% static i.image %}" alt="">
                              </a>
                              &nbsp;
                              {% if i.delete %}
                              <div class="modal fade" id={{object.slug}} tabindex="-1" aria-labelledby={{object.slug}}Label aria-hidden="true">
                                <form method="post" action="{% url i.delete pk=object.id %}">
                                  {% csrf_token %}
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                                      <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">Are you sure you want to delete this item? This action cannot be undone</div>
                                    <div class="modal-footer">
                                      <button type="submit" class="btn btn-danger elem-big" style="width: 48%;">Delete</button>
                                      <button type="button" class="btn btn-secondary elem-big" style="width: 48%;" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
                                      <button type="submit" class="btn btn-danger elem-small" style="width: 100%;">Delete</button>
                                      <button type="button" class="btn btn-secondary elem-small" style="width: 100%;" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                </div>
                                </form>
                              </div>
                              {% endif %}
                            {% endfor %}                      
                        {% endif %}
                    </span>
                    <p class="text-muted mb-0">{{ object.user.email }}</p>
                    </div>
                  </td>
                  <td class="text-end">
                    <a {% if object.links %}href="/{{link}}/{{tuser.id}}/{{object.subject.id}}"{% else %} href="/{{link}}/{{object.id}}" {% endif %}>{{object.num_questions.count}}{{object.num_solutions.count}}</a>
                  </td>
                  <td class="text-end {{td_classes.third}}">
                    <p class="fw-normal mb-1">{{object.score}}{{ object.2 }}</p>
                  </td>
                  <td class="text-end {{td_classes.fourth}}">{{object.attempts}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>        
      
      {% endblock %}
